$black:#232b2b;
$green:hsl(123, 38%, 57%);
$green-d1:hsl(122, 39%, 49%);


$red:hsl(0, 69%, 67%);
$red-d1:hsl(1, 83%, 63%) ;
$red-d2:hsl(4, 90%, 58%); 

$blue:hsl(207, 89%, 68%);
$blue-d1:hsl(212, 89%, 60%);



.green{background-color:$green}
.red{background-color: $red}
.blue{background-color: $blue}

.greenText{color:$green}
.redText{color: $red}
.blueText{color: $blue}
