
.grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 5px;
}

.kanban{

    border: 2px solid black;
    background-color: white;

    &-card{
        font-size: 1.25em;
        border-radius: 5px;
        border:2px solid black;
        padding: 10px;
        margin: 10px;
        background-color: #eee;
        
    }

    &-title{
        font-size: 1.5em;
        
    }

    &__zone{

        &--todo{
            border-right: 2px solid black;
            
            grid-column: 1/2;
        }
        &--buffer{
            border-right: 2px solid black;

            grid-column: 2/3;
        }
        &--progress{
            border-right: 2px solid black;

            grid-column: 3/4;
        }
        &--done{
            grid-column: 4/5;
        }
    }
    
}


.matrix-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 5px;

   

}

.matrix{
    &-1{
        background-color: red
    }
    &-2{
        background-color: green
    }
    &-3{
        background-color: gray
    }
    &-4{
        background-color: blue
    }
}












.flex{
    display: flex;
flex-direction: row;
flex-wrap: wrap;


}
.habit-box{
    border:solid 2px black;
    margin:5px;
    padding:10px;
    
    &:hover{
        background-color: green
    }

   
}


