

.btdn{
    font-size: 20px;
    padding: 12px 16px;
    border-radius: 4px;
    box-shadow: $shadow-2;
    margin: 10px;
    transition: all .2s ease;
    text-decoration: none;
    color: #eee;
    

    &:active{
        transform: translateY(2px)
    }
  
}


.btn2{
    font-size: 20px;
    padding: 12px 16px;
    border-radius: 4px;
    box-shadow: $shadow-2;
    margin: 10px;
    transition: all .2s ease;
    text-decoration: none;
    background-color: green;
    color: #eee;
    font-family: montserrat, sans-serif   ; 
    display: inline-block;

}
.btn3{
    font-size: 20px;
    padding: 12px 16px;
    border-radius: 4px;
    box-shadow: $shadow-2;
    margin: 10px;
    transition: all .2s ease;
    text-decoration: none;
    color: green;
    border: 2px solid green;
    font-family: acumin-pro, sans-serif;
    display: inline-block;

}
.btn4{
    font-size: 20px;
    padding: 12px 16px;
    margin: 10px;
    text-decoration: none;
    color: green;
    font-family: acumin-pro, sans-serif;
    display: inline-block;
    border-radius: 5px;

    
    &:hover{
        border: 2px solid green;
        box-shadow: $shadow-2
    }

}





.timer2{
    font-size: 3rem;
    color: green;
    
    
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.grid1{
    grid-column-start: 1;
    grid-column-end: 2;


}
.grid2{
    grid-column-start: 2;
    grid-column-end: 4;
}



.button{
    font-size: 20px;
    padding: 12px 16px;
    border-radius: 4px;
    box-shadow: $shadow-2;
    transition: all .2s ease;

    margin: 10px;
    font-family: acumin-pro;
    &-1{
        border:2px solid #232b2b;

        background-color: #232b2b;
        color: #eee;   
        text-decoration: none;
    }

    &-2{
        color:#232b2b;
        background-color: #eee;
        border:2px solid #232b2b;
        text-decoration: none;
    }

    
  
   
    

    &:hover{
        transform: translateY(-2px);
        box-shadow: $shadow-p4-1;
        box-shadow: $shadow-p4-2;
        
       
        transition: all .2s ;
        opacity: .75;

    }

    &:active{
        transform: translateY(3px);
        box-shadow: $shadow-p2-1;
        box-shadow: $shadow-p2-2;

    }
   
 

}

.text-button{
    font-size: 20px;
    padding: 12px 16px;
    margin: 10px;
    font-family: acumin-pro;
    border: 0;

        &:hover{
            border-bottom: 2px solid black;
        }
     
}

