.card{
    padding: 15px;
    box-shadow: $shadow-2;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #eee;

    
    

    &:not(:last-child){
        margin-bottom: 15px;
    }

    &-title{

        font-family: Roboto, sans-serif;
        font-size: 2em;
    }
}