*{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: hsl(207, 20%, 77%);
}

.container{
    margin: 0 20%;
}